* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* GLOBAL CONTAINER */
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/* NAVBAR */
.text {
  display: flex;
  align-items: center;
  padding: auto;
  height: 81px;
  background-color: oklch(97% 0.014 254.604);
  border-bottom: 2px solid black;
  padding: 0 25px;
}

.home{
    padding-left: 690px;
}

.about{
    padding-left: 145px;
}

.text b{
    padding-left: 9px;
}
.images {
  width: 43px;
  height: 25px;
}

.nav-links {
   display: flex;
   align-items: center;
   gap: 50px;
}

.text button {
  background-color: #738cff;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 145px;
}

/* HERO TEXT */
.better {
  display: flex;
  justify-content: center;
  height: 168px;
}

.better h1 {
  font-size: 92px;
  font-family: Arial Black;
  padding: 15px 0 35px;
  text-align: center;
}

.live {
  color: #738cff;
}

/* SECTION 1 */
.container1 {
  display: flex;
  height: 480px;
}

.container1 img {
  flex: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.commit {
  flex: 1;
  background-color: oklch(97% 0.014 254.604);
  border-top: 1.5px solid black;
  padding: 25px;
}

.commit h2{
    font-size: 30px;
}

.commit p {
  margin-top: 40px;
  padding-top: 170px;
}

.commit pre{
    padding: 40px 35px;
    font-family: Arial, sans-serif;
}

/* SECTION 2 */
.container2 {
  display: flex;
  height: 480px;
}

.guided,
.dynamic {
  flex: 1;
  background-color: oklch(97% 0.014 254.604);
  padding: 25px;
  border-bottom: 1.5px solid black;
}

.guided h2,
.dynamic h2{
   font-size: 30px;

}

.guided p{
    padding-top: 275px; 
}

.dynamic {
  border-left: 2px solid black;
}

.dynamic p{
    padding-top: 275px; 
}

.image {
  flex: 1;
  width: 540px;
  height: 480px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COMMUNITY */
.community {
  display: flex;
  align-items: center;
  height: 138px;
  border-bottom: 1.5px solid black;
  padding-left: 25px;
}

.community h1 {
  font-size: 110px;
   white-space: pre;
}

.color {
  color: #738cff;
}

/* SECTION 3 */
.container3 {
  display: flex;
  height: 600px;
}

.discover {
  flex: 1;
  background-color: oklch(97% 0.014 254.604);
  padding: 25px;
  height: 600px;
  width: 426px;
}

.discover h2{
    font-family: arial black;
    font-size: 30px;
    padding-bottom: 20px;
}

.discover h3{
    font-size: 32px;
    padding-top: 9px;
}

.discover p{
    padding: 20px 0px 15px;
    font-size: 20px;
}

.discover pre{
    padding: 45px 30px;
    font-family: Arial, sans-serif;
}

.gym {
  width: 854px;
  height: 600px;
  object-fit: cover;
}

/* JOIN SECTION */
.join {
  height: 480px;
  background-color: #8495FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join h2 {
  font-size: 50px;
  font-family: Arial Black;
}

.join button {
  margin-top: 25px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
}

/* FOOTER */
.container {
  height: 478px;
  background-color: #EEF1FF;
  border-top: 3px solid black;
}

.training {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.training p{
  margin: 0%;
  font-size: 27px;
}
.logo {
  width: 230px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 70px 25px;
}

.box1 h3,
.box2 h3,
.box3 h3{
  padding-bottom: 30px;
}

.box3 p{
  text-decoration: underline;
}

.box2 pre{
  font-family: Arial, sans-serif;
}

.bottom p,
.bottom pre{
  font-size: 20px;
}






