body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, black, sans-serif;
}
.navebar{
    height: 249px;
    width: 100%;
}    
div.text{
    display: flex;
    height: 81px;
    width: 100%;
    background-color:  oklch(97% 0.014 254.604);
    border-bottom: 2px black solid;
}
img{
    width: 43.41px;
    height: 25.78px;
    padding-left: 25px;
    padding-top: 25.50px;
}
div p{
    padding-top: 12.50px;
    padding-left: 7px;
}
.home{
    padding-left: 600px;
}
.about{
    padding-left: 100px;
}
.text button{
    margin-left: 100px;
    background-color: #738cff;
    border-radius: 10px;  
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}
div.better{
    display: flex;
    padding: 0%;
}
div h1{
    text-align: center;
    font-size: 88px;
    padding-left: 15px;
    padding-bottom: 35px;
    margin: 0%;
    padding-top: 15px;
    font-family: arial black;
}
.live{
    color:  #738cff;
}
.content{
    width: 100%;
    height: 2178px;
}
div.container1{
    width: 100%;
    height: 480px;
    display: flex;
}
.container1 img{
    width: 854px;
    height: 480px;
    padding: 0%;
}
.commit{
    width: 426px;
    height: 480px;
    background-color: oklch(97% 0.014 254.604);
    border-top: 1.50px solid;
}
.commit h2{
    padding-left: 25px;
    font-family: arial black;
}
.commit p{
    padding-left: 25px;
    padding-top: 155px;
}
.commit li{
    padding-left: 45px;
     padding-top: 25px;
}
div.container2{
    width: 100%;
    height: 480px;
    display: flex;
}
.guided{
    width: 426.67px;
    height: 480px; 
    background-color: oklch(97% 0.014 254.604);
    border-bottom: 1.50px solid;
}
.guided h2{
    padding-left: 25px;
    font-family: arial black;
    margin: 0%;
    padding-top: 25px;
    font-size: 32px;
}.guided p{
    padding-left: 25px;
    padding-top: 230px;
}
div.dynamic{
    width: 426.67px;
    height: 480px; 
    background-color: oklch(97% 0.014 254.604);
    border-left: 2px solid;
     border-bottom: 1.50px solid;
}
.dynamic h2{
    padding-left: 25px;
    font-family: arial black;
    font-size: 32px;
}
.dynamic p{
    padding-left: 25px;
    padding-top: 215px;
}
.image{
    width: 426.67px;
    height: 480px; 
    padding: 0%;
}
.community{
    width: 100%;
    height: 138px;
    display: flex;
    border-bottom: 1.50px solid;
    margin: 0%;
}
.community h1{
   padding: 0%;
   white-space: pre;
   padding-left: 25px;
   font-size: 95px;
}
.color{
    color: #738cff;
}
div.container3{
    width: 100%;
    height: 600px; 
    display: flex;
}
.discover{
    width: 426px;
    height: 600px; 
    background-color: oklch(97% 0.014 254.604);
}
.gym{
    width: 854px;
    height: 600px; 
    padding: 0%;
}
.discover h2{
    padding-left: 20px;
    font-family: arial black;
    font-size: 32px;
}
.discover h3{
    padding-left: 20px;
    font-family: arial black;
    margin: 0%;
    font-size: 23px;
}
.discover p{
    padding-left: 20px;
    margin: 0%;
    padding-bottom: 12px;
    font-size: 18px;
}    
.discover li{
    padding-left: 45px;
    padding-top: 45px;
}
div.join{
    width: 100%;
    height: 480px;
    background-color:  #8495FF;;
}
.join p{
    margin: 0%;
    padding-left: 550px;
    padding-top: 150px;
    padding-bottom: 20px;
}
.join h2{
    text-align: center;
    font-size: 50px;
    font-family: arial black;
    margin: 0%;
}
.join button{
    margin-left: 545px;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    margin-top: 23px;
}
.container{
    width: 100%;
    height: 478px;
    background-color:  #EEF1FF;
    border-top: 3px black solid;
}
.training{
    display: flex;
}
.logo{
    width: 229.31px;
    height: 136.17px;
}
.training p{
    padding-left: 800px;
    font-family: arial black;
    font-size: 25px;
}
.bottom{
    display: flex;
    padding-top: 115px;
}
.box1{
    padding-left: 25px;
}
.box2{
    padding-left: 289px;
}
.box3{
    padding-left: 289px;
}
.box1 p{
    margin:0%;
    font-size: 22px
}
.box2 pre{
    margin:0%;
    font-size: 22px;
    font-family: Arial, sans-serif;
}.box3 p{
    margin:0%;
    padding: 0%;
    font-size: 22px;
    text-decoration: underline;
}