body{
  margin: 0%;
  font-family: Arial, black, sans-serif;
}
div.about{
  display: flex;
  height: 81px;
  background-color: oklch(97% 0.014 254.604);
}
.about img{
  height: 25.43px;
  width: 43.78;
  padding-left: 25px;
  padding-top: 28px;
}
.first{
  padding-top: 10px;
  padding-left: 4px;
  text-decoration: none;
  font-size: 20px;
}
.home{
  padding-left: 180px;
  padding-top: 30px;
}
.text{
  padding-left: 54px;
  padding-top: 30px;
}
.about button{
  background-color: #738cff;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 54px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
div.headline{
   display: flex;
  font-family: arial black, bold, sans-serif;
  font-size: 24.45px;
  padding-left: 8px; 
  height: 118px;
}
.headline h1{
  margin: 0%;
  padding-left: 23px;
  padding-top: 20px;
}
.live{
  color: #738cff;
  margin: 0%;
  padding-top: 20px;
}
.line1{
  border-top: 3px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.relative {
  position: relative;
  width: 100%;
  height: 300px;
  border: none;
} 

div.absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 266.25px;
  height: 298px;
  background-color: oklch(97% 0.014 254.604);
}
.relative {
  position: relative;
  width: 100%;
}
.relative img {
  width: 533.75px;
  display: block;
}
.absolute h1{
  padding-left: 25px;
}
.absolute p{
  padding-left: 25px;
}
.absolute button{
  margin-left: 40px;
  margin-top: 11px;
  padding: auto;
  border: none;
  background-color: oklch(97% 0.014 254.604);
}
div.title{
  display: flex;
  position: relative;
  height: 297.61px;
  width: 100%;
  border-bottom: 3px solid black;
}
.title div{
  background-color: oklch(97% 0.014 254.604);
  height: 299.6px;
  width: 266.70px;
  display: block;
}
.guided h1{
  padding-left: 25px;
}
.guided p{
  padding-left: 25px;
  padding-top: 21px;

}
.dynamic h1{
  padding-left: 25px;
}
.dynamic p{
  padding-left: 25px;
  padding-top: 21px;

}
.line2{
  border-top: 10px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 0px;
}
.title img{
  display: block;
  width: 266.25px;
}
.community{
   display: flex;
  font-family: arial black, bold, sans-serif;
  font-size: 28px;
  padding-left: 20px;
  height: 87px;
  white-space: pre; 
  border-bottom: 2px solid black;
}
.community h1{
  margin: 0%;
}
.color{
  color: #738cff;
  margin: 0%;
}
div.title1{
  position: relative;
  display: flex;
  height: 470.06px;
  width: 100%;
}
.imagepanel img{
  height: 470.06px;
  width: 400px;
}
.textpanel{
  background-color: oklch(97% 0.014 254.604);
  height: 470.06px;
  width: 400px;
}
.textpanel h1{
  padding-left: 25px; 
}
.textpanel h3{
  padding-left: 15px; 
  margin: 17px;
}
.textpanel p{
  padding-left: 25px; 
  margin: 10px;
}
.textpanel h5{
  padding-left: 45px;
  margin-top: 42px; 
}
div.title2{
  box-sizing: border-box;
  background-color: #738cff;
  height: 480px;
  width: 100%;
}
.title2 p{
  padding-left: 325px;
  padding-top: 145px;
  margin: 0%;
}
.title2 h1{
  padding-left: 180px;
  font-family: arial black, bold, sans-serif;
  font-size: 35px;
  margin-bottom: 0px;
}
.today{
  text-align: center;
  padding-right: 105px;
  margin: 0%;
}
.title2 button{
  margin-left: 350px;
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
}
.container{
    width: 100%;
    height: 478px;
    background-color:  #EEF1FF;
    border-top: 3px black solid;
}
.training{
    display: flex;
}
.logo{
    width: 229.31px;
    height: 136.17px;
    padding: 25px 0px 0px 25px;
}
.training p{
    padding-left: 325px;
    font-family: arial black;
    font-size: 25px;
}
.bottom{
    display: flex;
    padding-top: 115px;
}
.box1{
    padding-left: 25px;
}
.box2{
    padding-left: 65px;
}
.box3{
    padding-left: 65px;
}
.box1 p{
    margin:0%;
    font-size: 22px
}
.box2 pre{
    margin:0%;
    font-size: 22px;
    font-family: Arial, sans-serif;
}.box3 p{
    margin:0%;
    padding: 0%;
    font-size: 22px;
    text-decoration: underline;
}