* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 1279px;
  margin: 0 auto;
}

.navebar{
  height: 199px;
}

div.about{
  display: flex;
  background-color: oklch(97% 0.014 254.604);
  align-items: center;
  height: 81px;
}

.about img{
  height: 25px;
  width: 43px;
  margin: 10px;
}

.home{
  margin-left: 135px;
}

.about1{
  margin-left: 90px;
}

.about button{
  margin-left: 90px;
  padding: 10px;
  border: none;
  background-color: #6680f1;
  border-radius: 6px;
  border: none;
}

.headline h1{
font-size: 52px; 
font-family: arial black; 
padding-left: 20px; 
margin-top: 22px;
}

.live{
  color:#738cff;
}

.contant{
  height: 1638px;
  width: auto;
}

div.relative {
  display: grid;
  grid-template-columns: 533.75px auto;
  height: 300px;
} 

.relative img{
  height: 300px;
}

.container1{
  background-color: oklch(97% 0.014 254.604);
}

.container1 h2{
  padding-left: 20px;
  padding-top: 15px;
  font-size: 35px;
}

.container1 p{
  padding-left: 20px;
  padding-top: 15px;
}

div.title{
  display: grid;
  grid-template-columns: auto auto auto;
  height: 300px;
}

.title img{
  height: 300px;
  width: 266.67px;
}

.guided, .dynamic{
  background-color: oklch(97% 0.014 254.604);
}


.guided{
  border-right: 2px solid black;
}

.guided h3, .dynamic h3{
  padding-left: 20px;
  padding-top: 15px;
  font-size: 32px;
}

.guided p, .dynamic p{
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 5px;
  font-size: 17px;
}


.community{
  height: 87px;
  border-bottom: 2px solid black;
}

.community h1{
  align-items: center;
  font-size: 50px;
  padding-left: 20px;
  padding-top: 7px;
  font-family: arial black;
}

.community .color{
  color: #738cff;
}

div.title1{
  display: grid;
  grid-template-columns: auto auto;
  height: 470.06px;
  overflow: hidden;
}

.textpanel{
  background-color: oklch(97% 0.014 254.604);
  height: 470.06px;
}

.textpanel h1{
  padding-left: 20px;
  padding-top: 15px;
}

.textpanel h3{
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 4px;
  font-size: 23px;
}

.textpanel p{
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 6px;
  font-size: 17px;
}

.textpanel h5{
  padding-left: 35px;
  padding-top: 38px;
  font-size: 17px;
}

.title1 img{
  height: 470.06px;
  background-size: cover;
}

.texrpanel{
  background-color: oklch(97% 0.014 254.604);
}

div.title2{
  background-color: #738cff;
  height: 480px;
  width: auto;
}

.title2 p{
  padding-left: 325px;
  padding-top: 145px;
  margin: 0%;
}

.title2 h1{
  padding-left: 180px;
  font-family: arial black, bold, sans-serif;
  font-size: 35px;
  margin-bottom: 0px;
}

.title2 .today{
  padding-left:360px;
}

.title2 button{
  margin-left: 350px;
  padding: 15px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
}

.container{
  width: auto;
  height: 478px;
  background-color:  #EEF1FF;
  border-top: 3px black solid;
}
.training{
  display: flex;
}


.training p{
  padding-left: 350px;
  font-family: arial black;
  font-size: 29px;
}


.training img{
  width: 150px;
  height: 92.06px;
  padding-top: 23px;
  padding-left: 23px;
}
.bottom{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}

.bottom div{
  padding-top: 200px;
  padding-left: 35px;
}

.box1 h3,
.box2 h3,
.box3 h3{
  padding-bottom: 30px;
  font-family: arial black;
}

.box1 p{
  font-size: 22px;
}

.box2 pre{
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.box3 p{
  text-decoration: underline;
  font-size: 22px;
}
